<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap META-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Minino PiscarOS</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="./index.html">
          <img src="../static/img/logo-picaros.png" width="8%" height="8%" class="d-inline-block align-top" alt="">
          PicarOS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="./index.html">Home</a>
            </li>
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                 role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Documentation
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="https://minino.galpon.org/es">Official Page</a>
                <a class="dropdown-item" href="./install.html">Installation</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contactus.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- ABOUT -->
    <section class="m5 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="m-5">
            <h3>Why this Product?</h3>
            <p>
              Consectetur dolor at delectus dolores fugiat! Rerum inventore cumque quidem corporis iusto temporibus nesciunt minima! Harum harum qui dolores natus dolore repudiandae quae animi aliquid nobis sed? Quod culpa quia?
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- TEAM -->
    <section class="text-center team">
      <div class="container p-5">
        <h1 class="text-center text-white">Team</h1>
        <p class="text-white">
          Adipisicing unde eum odio aliquam dolor ad voluptas expedita consequuntur aperiam inventore eaque. Dolorum facilis aut eum a delectus. Fugit velit quas harum quisquam amet provident inventore. Repudiandae repudiandae delectus.
        </p>
        <div class="row">
          <!-- USER TEAM -->
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <img src="img/person.png" class="img-fluid rounded-circle w-50">
                <h3>John Carter</h3>
                <p>
                  Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam mollitia eveniet!
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <img src="img/person.png" class="img-fluid rounded-circle w-50">
                <h3>John Carter</h3>
                <p>
                  Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam mollitia eveniet!
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <img src="img/person.png" class="img-fluid rounded-circle w-50">
                <h3>John Carter</h3>
                <p>
                  Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam mollitia eveniet!
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <img src="img/person.png" class="img-fluid rounded-circle w-50">
                <h3>John Carter</h3>
                <p>
                  Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam mollitia eveniet!
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- CONTACT -->
    <section class="bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <h3>Contact</h3>
            <p>
              Consectetur neque numquam autem animi?
            </p>
            <form action="">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <i class="fas fa-user input-group-text"></i>
                </div>
                <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <i class="fas fa-envelope input-group-text"></i>
                </div>
                <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <i class="fas fa-pencil-alt input-group-text"></i>
                </div>
                <textarea name="" cols="30" rows="10" placeholder="Message" class="form-control"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Send</button>
            </form>
          </div>
          <div class="col-lg-3 align-self-center">
            <img src="img/logo.png" alt="">
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark">
      <div class="container p-3">
        <div class="row text-center text-white">
          <div class="col ml-auto">
            <p>Copyright &copy; 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  </body>
</html>
