<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partials/head.ejs %>
  <body>

    <!-- NAVBAR-->
    <% include partials/navigation.ejs %>

    <!-- HEADER -->
    ::next
    <header class="main-header">
      <div class="background-overlay text-white py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center">
              <h1>Instalación</h1>
              <p>La instalación de Minino PicarOs es muy sencilla. En el proceso
                 vamos a encontrar diferentes maneras de poder realizar la instalación.
                 En este apartado vamos a explicar paso a paso la instalación de
                 algunas de ellas, así que acompáñanos...
              </p>
            </div>
            <div class="col-md-6">
              <img src="img/post-picaros.png" width="80%" alt="Image Post PicarOS"
                  class='img-fluid'>
            </div>
          </div>
        </div>

      </div>
    </header>

    <!-- CONTENT -->
    <section class="m5 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="m-5">
            <h3>Installation</h3>
            <h5>Requisitos:</h5>
            <p>

            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <% include partials/footer.ejs %>

    <!-- Bootstrap JS-->
    <% include partials/scripts.ejs %>

  </body>
</html>
