<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partials/head.ejs %>
  <body>

    <!-- NAVBAR-->
    <% include partials/navigation.ejs %>

    <!-- HEADER -->
    <header class="main-header">
      <div class="background-overlay text-white py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center">
              <h1>Instalación</h1>
              <p>La instalación de Minino PicarOs es muy sencilla. En el proceso
                 vamos a encontrar diferentes maneras de poder realizar la instalación.
                 En este apartado vamos a explicar paso a paso la instalación de
                 algunas de ellas, así que acompáñanos...
              </p>
              <a href="/pdf-install.pdf" target="_blanck" class="btn btn-outline-primary">
                  Manual de instalación
                </a>
            </div>
            <div class="col-md-6">
              <img src="img/post-picaros.png" width="80%" alt="Image Post PicarOS"
                  class='img-fluid'>
            </div>
          </div>
        </div>

      </div>
    </header>

    <!-- CONTENT -->
    <section class="m5 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="m-5 text-left">
            <h3>Installation</h3>
            <h5>Requisitos:</h5>
            <p>
                Antes de iniciar es importante contar con todos aquellos requerimientos mínimos 
                que garanticen una instalación exitosa. Estos requerimientos son:
            </p>
            <ul>
              <li>
                <p><b>Características mínimas del equipo:</b>
                    Procesador P4-1500MHz (o equivalente) 
                    512 MB de RAM y 10 GB de disco
                </p>
              </li>
              <li>
                <p><b>Imagen del sistema operativo:</b>
                  La imagen en formato .iso puede ser descargada desde la 
                  <a href="https://minino.galpon.org/es/descargas" target="_blank">pagina oficial</a>,
                  cuenta con un peso de 3.7 Gb.
                </p>
              </li>
              <li>
                <p><b>Boot:</b>3.Tener listo tu equipo para poder bootear ya sea por memoria USB o CD.
                  Si la instalación se la va a realizar montando la imagen en una memoria USB, 
                  recomiendo utilizar la herramienta <a href="https://rufus.ie/" target="_blank">rufus</a> , para realizar dicho montaje.
                </p>
              </li>
            </ul>
            <p>
                Antes de iniciar con el proceso de instalación debemos saber que este se puede hacer 
                de diferentes formas, unas formas mas fáciles de hacer y otras que requiere de un 
                grado de conocimiento un poco mas amplio. En este caso vamos hacer el proceso de 
                la forma mas sencilla, puesto que este articulo es para todo el mundo y queremos 
                demostrar lo fácil que es realizar todo este proceso. 
            </p>
            <h4>Paso 1: Seleccionar el modo de instalación.</h4>
            <p>Una vez ya se haya booteado la memoria USB o cd del sistema, inicialmente se 
              deberá escoger el idioma para realizar la instalación:</p>
              <img src="/img/install/install-1.png" alt="" width="80%" class='img-fluid'>
              <p>
                  En seguida nos mostrara las opciones de instalación. Como lo hemos dicho 
                  anteriormente lo vamos hacer lo mas fácil posible para que todo mundo lo 
                  pueda hacer sin problema alguno. En ese sentido vamos a escoger la <b>Instalación básica:</b> 
              </p>
              <img src="/img/install/install-2.png" alt="" width="80%" class='img-fluid'><br><br>
              <h4>Paso 2: Instalación automática.</h4>
              <p>Nuevamente nos pude seleccionar el idioma, en este caso es el idioma con el cual quedara el sistema 
                operativo. En mi caso voy a escoger <b>es</b>.
              </p>
              <img src="/img/install/install-3.png" alt="" width="80%" class='img-fluid'>
              <p>Luego de este punto nos pedirá si vamos a realizar una instalación manual o automática.</p>
              <img src="/img/install/install-4.png" alt="" width="80%" class='img-fluid'>
              <p>
                  Hay que tener mucho cuidado con la instalación automática, porque como nos dice 
                  el mensaje de la imagen, se borrara todo en disco y solo quera el sistema. Si escogemos 
                  esta opción, toda la instalación y configuración se hará automáticamente y no 
                  tendremos que hacer nada mas. Voy a escoger la opción automática, luego nos 
                  saldrá un mensaje de confirmación:
              </p>
              <img src="/img/install/install-5.png" alt="" width="80%" class='img-fluid'>
              <p>
                  Le damos que si y esperaremos a que termine toda la instalación (entre 25 a 30 minutos). 
                  Tendrá que aparecer el escritorio inicial del sistema:
              </p>
              <img src="/img/install/install-6.png" alt="" width="80%" class='img-fluid'>
              <p>
                  Y listo solo con dos pasos se puede realizar la instalación de este sistema operativo.<br>
                  Bien, eso es todo con respeto a la instalación de este sistema operativo de propósito 
                  educativo, de aquí en adelante queda probar todas las herramientas que tiene este 
                  sistema y por supuesto aprender mucho.
              </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <% include partials/footer.ejs %>

    <!-- Bootstrap JS-->
    <% include partials/scripts.ejs %>

  </body>
</html>
