<!-- Footer -->
<footer class=" bg-dark text-muted button-end">
    <div class="container-fluid p-3 p-md-5">
        <ul class="footer-ul" >
            <li class="footer-li">
                <h4> <a class="text-primary footer-li-a" href="/">Inicio</a> </h4>
            </li>
            <li class="footer-li">
               <h4> <a class="text-primary footer-li-a" href="/install">Instalación</a> </h4> 
            </li>
            <li class="footer-li">
                <h4> <a class="text-primary footer-li-a" href="https://minino.galpon.org/es">Pagina Oficial</a> </h4>
            </li>
            <li class="footer-li">
                <h4 > <a class="text-primary footer-li-a" href="/contactus">Contactenos</a> </h4>
            </li>
        </ul>
        <div class="row text-center text-white">
            <div class="col ml-auto">
                <p>Copyright &copy; 2018</p>
            </div>
        </div>
    </div>
</footer>