<nav id="navbar" class="navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/img/logo-picaros.png" width="8%" height="8%" class="d-inline-block align-top" alt="">
        PicarOS
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/install">Instalación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://minino.galpon.org/es">Pagina oficial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contactenos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>