.main-header {
  position: relative;
  background: url(../img/desktop-picaros.jpg);
  background-size: cover;
  min-height: 1000p;
}

.background-overlay {
  background: rgb(33, 76, 99, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control, .btn{
  border-radius: 0;
}

.team {
  background: #30336b;
}
